MEDIA_ROOT=/Users/pupca/media
TRANSMISSION_PASS=changeme
POSTGRES_ADMIN_PASS=changeme
PAPERLESS_POSTGRES_PASS=changeme
REDIS_PASS=changeme
INFLUXDB_ADMIN_PASS=changeme
INFLUXDB_ADMIN_TOKEN=changeme
GRAFANA_ADMIN_PASS=changeme
